nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	background-color: green;
	color: white;
}
h2 {
	font-family: Arial, sans-serif;
	background-color: purple;
	color: white;
}
p {
	font-family: "Times New Roman", Times, serif;
	background-color: red;
	color: white;
}
code {
	background-color: blue;
	color: white;
}
a {
	font-family: Arial, sans-serif;
	background-color: grey;
	color: white;
}
body {
	background-color: black;
}
